{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    PyRobot - Accueil
{% endblock %}

{% block custom_css %}
    <style>
        i.small {
            font-size: 2.75rem;
        }

        blockquote {
            margin: 20px 0;
            padding-left: 1.5rem;
            border-left: 10px solid #fff176;
            border-left-width: 10px;
            border-left-style: solid;
            border-left-color: rgb(255, 241, 118);
        }
    </style>

{% endblock %}



{% block content %}
    <div class="col s12 m12 l12">
        <br/>
        <br/>
        {% if inBattle %}
            <div class="fixed-action-btn" onclick="$('.tap-target').tapTarget('open')">
                <a id="active_battle" class="waves-effect waves-light btn btn-floating right light-blue accent-4 pulse"><i
                        class="material-icons">menu</i></a>
            </div>

            <div class="tap-target" data-activates="active_battle">
                <div class="tap-target-content right-align">
                    <h5>Information !</h5>
                    <p>
                        Vous avez une battle en cours.<br/>
                        <span class="hide-on-med-and-down">Vous ne pourrez pas démarrer un nouveau combat tant que celui qui est en cours n'est pas
                            terminé.</span>
                    </p>
                    <a class="btn-flat" href="{% url 'backend:versus' previous=0 %}">Revenir au combat</a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col s12 m4 l4">
        <div class="col s6 m12 l12">
            <div class="border-spaced">
                <div class="card sticky-action align-center">
                    <div class="card-image blue-grey darken-4 waves-effect waves-block waves-light">
                        <a class="waves-effect waves-light modal-trigger" {% if not inBattle %} href="#versus" {% else %}
                           onclick="$('.tap-target').tapTarget('open')" {% endif %}>
                            <img id="mode_versus" class="activator" src="{% static 'img/icons/training.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m12 l12 ">
            <h4 class="center">Entraînement</h4>
            <h5>Entraine-toi contre tes amis ou l'ordinateur dans un match amical.</h5>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="col s6 m12 l12">
            <div class="border-spaced">
                <div class="card sticky-action align-center tooltipped" data-position="bottom" data-delay="50"
                     data-tooltip="Code actif: {{ active_script.name }}">
                     <div class="card-image blue-grey darken-4 waves-effect waves-block waves-light">
                         {% for script in scripts %}
                             {% if script.name ==  active_script.name %}
                                 <a class="waves-effect waves-light modal-trigger"  onclick="window.location.href='/editor/?script={{ script.pk }}'">
                                     <img id="mode_edit" class="activator" src="{% static 'img/icons/code.png' %}">
                                 </a>
                             {% endif %}
                         {% endfor %}
                     </div>
                </div>
            </div>
        </div>
        <div class="col s6 m12 l12 ">
            <h4 class="center">Editeur</h4>
            <h5>Programmes ton tank pour le rendre plus efficace au combat.</h5>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="col s6 m12 l12">
            <div class="border-spaced">
                <div class="card sticky-action align-center">
                    <div class="card-image blue-grey darken-4 waves-effect waves-block waves-light">
                        <a class="waves-effect waves-light modal-trigger" {% if not inBattle %} href="#championnat" {% else %}
                           onclick="$('.tap-target').tapTarget('open')" {% endif %}>
                            <img id="mode_championship" class="activator" src="{% static 'img/icons/championnat_info.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m12 l12 ">
            <h4 class="center">Championnat</h4>
            <h5>Défis tes amis en 1v1 en championnat!</h5>
        </div>
    </div>

    <div id="versus" class="modal modal-fixed-footer">
        <form action="{% url 'backend:select_player_for_training' %}" method="POST">
            <div>
                {% csrf_token %}
                <div class="modal-content">
                    <h4>Entraînement</h4>
                    <div class="divider"></div><br>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <img src="/static/img/user_avatar/default.png" alt="{{ current_user.avatar }}"
                                 class="align-center responsive-img circle materialboxed" width="100">
                            <p class="center">{{ user.username }}</p>
                        </div>
                        <div class="col s12 m4 l4">
                            <h4 class="center vertical-center">VS<h4>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="col s6 m12 l12 align-center btn-choice">
                                <a onClick="optionSelect(0)">
                                    <img class="img-responsive align-center" src="/static/img/user.svg" width=100%/>
                                    <p class="center">Joueur</p>
                                </a>
                            </div>
                            <div class="col s6 m12 l12 align-center btn-choice">
                                <a onClick="optionSelect(1)">
                                    <img class="img-responsive align-center" src="/static/img/laptop.svg" width=100%/>
                                    <p class="center">IA</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="player-select" class="row choice-panel">
                        <h4>Choix du joueur</h4>
                        <nav class="blue-grey darken-4">
                            <div class="nav-wrapper">
                                <form>
                                    <div class="input-field">
                                        <input id="modeVersus" type="search" onkeyup="searchPlayerVersus()">
                                        <label class="label-icon" for="modeVersus"><i
                                                class="material-icons">search</i></label>
                                        <i class="material-icons">close</i>
                                    </div>
                                </form>
                            </div>
                        </nav>
                        <div style="max-height: 350px; overflow: auto;">
                            <ul id="resultPlayerVersus" class="collapsible" data-collapsible="accordion">
                                {% if classement|length == 1 %}
                                    <li>
                                        <div class="collapsible-header">
                                            Vous êtes seul(e) dans ce championnat
                                        </div>
                                    </li>
                                {% else %}
                                    {% for player in classement %}
                                        {% if player.user != user %}
                                            <li class="player_check">
                                                <!--<div class="collapsible-header" onclick="location.href='/versus/{{ player.pk }}'">
                                                    <i class="material-icons">face</i>{{ player.user }} avec {{ player.points }}
                                                    points
                                                </div>-->
                                                <div class="collapsible-header">
                                                    <i class="material-icons">face</i>{{ player.user }}
                                                    avec {{ player.points }}
                                                    points.
                                                    <span class="badge">
                                                        <input type="checkbox" id="{{ player.pk }}_training" name="check_training"
                                                               value="/versus/0/{{ player.pk }}"/>
                                                        <!--<input type="hidden" name="player" value="{{ player.pk }}"/>-->
                                                        <label for="{{ player.pk }}_training"></label>
                                                    </span>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div id="ia-select" class="row choice-panel">
                        <h4>Niveau de l'IA</h4>
                        <div class="checkbox-group align-center">
                            <input name="check_training" id="ordi1" type="checkbox" value="/versus/0/1/1#ORDI_FACILE" checked/><label for="ordi1">Facile</label><input name="check_training" id="ordi2" type="checkbox" value="/versus/0/2/2#ORDI_INTERMEDIAIRE"/><label for="ordi2">Moyen</label>
                        </div>
                    </div>

                    <h4>Vos codes</h4>
                    <ul class="collapsible select-script">
                        {% for script in scripts %}

                            {% if script.pk != active_script.pk %}
                                <li>
                                    <div class="collapsible-header">
                                        <i class="material-icons">insert_drive_file</i>
                                        {{ script.name|truncatechars:22 }}
                                        <span class="badge">
                                            <input type="checkbox" id="{{ script.pk }}_training" name="script_pk_training"
                                                   value="/versus/0/{{ user.pk }}/{{ script.pk }}#{{ script.name }}"/>
                                            <label for="{{ script.pk }}_training"></label>
                                        </span>
                                    </div>
                                    <!--<a class="btn-flat" onclick="window.location.href='/editor/?script={{ script.pk }}'">Modifier</a>-->
                                </li>
                            {% else %}
                                <li class="player_check">
                                    <div class="collapsible-header">
                                        <i class="material-icons">insert_drive_file</i>
                                        {{ script.name|truncatechars:22 }}
                                        <span class="new badge blue-grey yellow-text darken-4"
                                              data-badge-caption="Actif"></span>
                                          <span class="badge">
                                              <input type="checkbox" id="{{ script.pk }}_training" name="script_pk_training"
                                                     value="/versus/0/{{ user.pk }}/{{ script.pk }}#{{ script.name }}"/>
                                              <label for="{{ script.pk }}_training"></label>
                                          </span>
                                    </div>
                                    <!--<a class="btn-flat" onclick="window.location.href='/editor/?script={{ script.pk }}'">Modifier</a>-->
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <a onclick="window.location.href='/versus/0/'"
                       class="modal-action modal-close waves-effect waves-green btn-flat left hide-on-med-and-down">Aléatoire</a>
                    <input type="hidden" name="trigger_page" value="index"/>
                    <button id="player_select" class="btn waves-effect waves-light blue-grey darken-4" type="submit"
                            name="action" value="training">Lancer
                        <i class="material-icons right">play_arrow</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="championnat" class="modal modal-fixed-footer">
        <form action="{% url 'backend:select_player_for_championship' %}" method="POST">
            <div>
                {% csrf_token %}
                <div class="modal-content">
                    <h4>{{ championnat|truncatechars:50 }}<span class="badge"
                                                                onclick="window.location.href='/championnat'"
                                                                style="cursor: pointer"><i class="fas fa-cog fa-2x"></i></span>
                    </h4>
                    <div class="divider"></div><br>
                    <!--<p>Liste des joueurs du championnat et leur classement</p>-->
                    <p>Le code "{{ active_script.name }}" est engagé dans le championnat.</p>
                    <nav class="blue-grey darken-4">
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field">
                                    <input id="PlayerChamp" type="search" onkeyup="searchPlayerChamp()">
                                    <label class="label-icon" for="PlayerChamp"><i
                                            class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                    <div style="max-height: 350px; overflow: auto;">

                        <ul id="resultPlayerChamp" class="collapsible">
                            {% for player in classement %}

                                {% if player.user == user %}
                                    <li>
                                        <!--<div class="collapsible-header blue-grey darken-4 yellow-text">[ {{ forloop.counter }} ]
                                    - {{ player.user }} avec {{ player.points }} points (pk={{ player.pk }})
                                </div>-->
                                        <div class="collapsible-header blue-grey darken-4 yellow-text">
                                            [ {{ forloop.counter }} ]
                                            - {{ player.user }} avec {{ player.points }} points
                                        </div>
                                    </li>
                                {% else %}
                                    <li>
                                        <!--<div class="collapsible-header grey lighten-2"
                                     onclick="window.location.href='/battle/{{ player.pk }}'">[ {{ forloop.counter }} ]
                                    - {{ player.user }} avec {{ player.points }} points (pk={{ player.pk }})
                                </div>-->
                                        <div class="collapsible-header grey lighten-2">
                                            [ {{ forloop.counter }} ]
                                            - {{ player.user }} avec {{ player.points }} points
                                            <span class="badge">
                                        <input type="checkbox" id="{{ player.user }}" name="check_championship" value="/battle/{{ player.pk }}"/>
                                        <label for="{{ player.user }}"></label>
                                    </span>
                                        </div>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <h4>Votre classement</h4>
                        <ul>
                            {% for player in classement %}
                                {% if player.user == user %}
                                    <li>
                                        <!--<div class="collapsible-header blue-grey darken-4 yellow-text">[ {{ forloop.counter }} ]
                                    - {{ player.user }} avec {{ player.points }} points (pk={{ player.pk }})
                                </div>-->
                                        <div class="collapsible-header blue-grey darken-4 yellow-text">
                                            [ {{ forloop.counter }} ]
                                            - {{ player.user }} avec {{ player.points }} points
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a onclick="window.location.href='/battle'"
                       class="modal-action modal-close waves-effect waves-green btn-flat left hide-on-med-and-down">Aléatoire</a>
                    <button class="btn waves-effect waves-light blue-grey darken-4" type="submit" name="action" value="championnat">Défier
                        <i class="material-icons right">play_arrow</i>
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}


{% block custom_js %}
    <script src="{% static 'js/accueil.js' %}"></script>
    <script>
        var selectedOption = 0;
        function optionSelect (option) {
            if (option == selectedOption) return;

            var ia = $("#ia-select");
            var player = $("#player-select");

            switch(option) {
            case 0:
                fadeReplace(ia, player);
                break;
            case 1:

                fadeReplace(player, ia);
                break;
            }
            selectedOption = option;
        }

        function fadeReplace (div1, div2) {
            div1.fadeOut(500, function() {
                div2.fadeIn(500);
            });
        }

        $(document).ready(function(){
            $("#ia-select").animate({
                height: 'toggle'
            });
        });
    </script>
{% endblock %}
