{% extends "base.html" %}

{% load staticfiles %}

{% block title %} PyRobot - Changer le mot de passe {% endblock %}

{% block custom_css %}
    <style>
      h4{
        margin-bottom: 40px;
        text-align: center;
        font-weight: bold;
      }
      .helptext{
        font-style: italic;
        font-size: small;
        text-align: justify;
      }
      .btn {
        margin: 20px auto auto 20px;
      }
      #mdp_diff{
        color: red;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col l12 m12 s12">
            <h4>Changer votre mot de passe</h4>
          </div>
            <form method="post" onsubmit="return verifChangement(this);">
                {% csrf_token %}
                <div class="col s12 l8 m8">
                  <label for="id_new_password1">Nouveau mot de passe :</label>
                  <input type="password" name="new_password1" required id="id_new_password1" /><br />

                  <label for="id_new_password2">Nouveau mot de passe ( confirmation ) : </label>
                  <input type="password" name="new_password2" required id="id_new_password2" />
                </div>
                <div class="col s12 l4 m4">
                  <span class="helptext">
                    Votre mot de passe :
                    <ul>
                      <li><span id="err1">- ne peut pas être trop similaire à vos autres informations personnelles, </span></li>
                      <li><span id="err2">- doit contenir au moins 8 caractères,</span></li>
                      <li><span id="err3">- ne peut pas être un mot de passe couramment utilisé,</span></li>
                      <li><span id="err4">- ne peut pas être entièrement numérique.</span></li>
                    </ul>
                    <div id="mdp_diff" style="display:none"></div>
                  </span>
                </div>
                <div class="col s12 l12 m12">

                  <button class=" modal-action waves-effect blue-grey darken-4 btn" type="submit">Enregistrer</button>
                </div>
            </form>
        </div>
        <input id="pseudo" type="hidden" name="pseudo" value="{{ user }}"/>
        <input id="prenom" type="hidden" name="prenom" value="{{ username.first_name }}"/>
        <input id="nom" type="hidden" name="nom" value="{{ username.last_name }}"/>
    </div>
{% endblock %}


{% block custom_js %}
        <!-- <script src="{% static 'js/change_password.js' %}"></script> -->
      <script>

        // verification du formulaire d'inscription:
       function verifChangement(f){
         var mdp1 = document.getElementById("id_new_password1");
         var mdp2 = document.getElementById("id_new_password2");
         var mdp_diff = document.getElementById("mdp_diff");

         var regex_mdp_facile1 = /azerty/;
         var regex_mdp_facile2 = /123456/;
         var regex_obligatoire = /[a-zA-Z\@\-\_\.]/;
         var pseudo = document.getElementById("pseudo");
         var prenom = document.getElementById("prenom");
         var nom = document.getElementById("nom");

         var err1 = document.getElementById("err1");
         var err2 = document.getElementById("err2");
         var err3 = document.getElementById("err3");
         var err4 = document.getElementById("err4");

         err1.style.color = 'black';
         err2.style.color = 'black';
         err3.style.color = 'black';
         err4.style.color = 'black';
         mdp_diff.style.display === "none";
         var boolean = true;

         if(( mdp1.value != mdp2.value )&&(mdp_diff.style.display === "none")){
           mdp_diff.innerHTML = "Vos mots de passe doivent être identiques.";
           mdp_diff.style.display = "block";
           boolean = false;

         }
         if( mdp1.value.match(regex_obligatoire) == null ){
           err4.style.color = 'red';
           boolean = false;

         }
         if (mdp1.value.length<8){
           err2.style.color = 'red';
           boolean = false;

         }
         if ((mdp1.value.match(regex_mdp_facile1) != null)||(mdp1.value.match(regex_mdp_facile2) != null)){
           err3.style.color = 'red';
           boolean = false;

         }
         if ((mdp1.value.match(pseudo.value) != null)||((mdp1.value.match(prenom.value) != null)&&(mdp1.value.match(prenom.value) != ""))||((mdp1.value.match(nom.value) != null))&&(mdp1.value.match(prenom.value) != "")){
           err1.style.color = 'red';
           console.log(mdp1.value.match(prenom.value));
           boolean = false;
         }
         return boolean;
      }
    </script>

{% endblock %}
