{% load static %}

<footer class="section">
    <div class="footer-copyright">
        {% include 'backend/legalNoticeContact.html' %}
        <div class="container center-align">
            <a class="modal-trigger left" href="#modal2"><i class="far fa-envelope"></i> Contact</a>
            <i class="far fa-copyright"></i> 2017 design par <a href="https://github.com/AlexAndriamahaleo"
                                                                target="_blank">BananiaStyle</a>
            <a class="modal-trigger right" href="#modal1"><i class="fas fa-gavel"></i> Mentions Légales</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/alertify.js' %}"></script>
<script src="{% static 'js/fontawesome-all.js' %}"></script>
