{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Bienvenue sur PyRobot</title>

    {% include 'backend/head.html' %}


    <style>
        .btn-play {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            padding: 0;
            background: #cb4e4e;
            color: #fff;
            box-shadow: 0 6px #b6b6b6;
            transition: none;
            border: none;

            background: none;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            outline: none;
            position: relative;
            line-height: 100px;
        }

        #modalInscription span{
            font-style: italic;
            font-size: small;
            margin-top: 0;
        }
      /*
        #modalInscription .modal-content {
            padding: 5px;
        }
        #id_username{
            margin-bottom:0;
        }
        #modalInscription h4{
            font-style: normal;
            font-weight: bold;
            margin: 0 0 20px 0;
            padding: 0;
        }
        #row {
            margin-bottom: 0;
        }
        #modalInscription .input-field{
            margin: 5px auto;
        }
      */
        #modalInscription .modal-footer {
            margin-top: 0;
            padding-top: 0;
        }
        #mdp_diff {
          color: red;
          padding: 0 0 0 40px;
          font-style: italic;
          font-size: small;
        }
    </style>
</head>
<body>

<nav class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo yellow-text"
                                          onclick="window.location.href='/'">PyRobot</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="modal-trigger" href="#modalConnexion"><i class="fas fa-sign-in-alt fa-lg"></i>
                Connexion</a></li>
            <li><a class="modal-trigger" href="#modalInscription"><i class="fas fa-user-plus fa-lg"></i>
                Inscription</a></li>
        </ul>


        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul id="nav-mobile" class="side-nav">
    <li><a class="modal-trigger blue-grey-text darken-4" href="#modalConnexion"><i class="fas fa-sign-in-alt fa-lg"></i>
        Connexion</a></li>
    <li><a class="modal-trigger blue-grey-text darken-4" href="#modalInscription"><i class="fas fa-user-plus fa-lg"></i>
        Inscription</a></li>
</ul>


<!-- MODAL  -->
<div id="modalConnexion" class="modal">
    <div class="modal-content">
        <h4>Connexion</h4>
        <div class="divider"></div><br>
        <form method="post" action="{% url 'backend:login' %}">
            <div class="row">
                {% csrf_token %}
                <div class="input-field col s12">
                    <input placeholder="Player_1" id="username" name="username" type="text" class="validate">
                    <label for="first_name">Pseudo</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Mot de Passe</label>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Se Connecter" class="modal-action waves-effect blue-grey darken-4 btn">

                    <!--MODIF connexion-->
                    <div class="input-field col s12">
                        <p style="text-align:center">Vous n'avez pas de compte ?</p>
                        <p style="text-align:center"><a onClick="closeModal()" class="modal-trigger" href="#modalInscription">Créer un compte</a></p>
                    </div>
                    <!--END MODIF-->

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <p></p>
    </div>
</div>
<div id="modalInscription" class="modal">
    <div class="modal-content">
        <form action="{% url 'backend:signup' %}" method="post" onsubmit="return verifInscription(this);">
            {% csrf_token %}
            <h4>Inscription</h4>
            <div class="divider"></div><br>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    {{ form.username }}
                    <label for="{{ form.username.label }}">{{ form.username.label }}</label>
                    {% if form.username.help_text %}
                      <span>
                        {{ form.username.help_text | safe }}
                      </span>
                    {% endif %}
                </div>
                <div class="input-field col s12 m6 l6">
                    {{ form.first_name }}
                    <label for="{{ form.first_name.label }}">{{ form.first_name.label }}</label>
                    {% if form.first_name.help_text %}
                      <span>
                        {{ form.first_name.help_text | safe }}
                      </span>
                    {% endif %}
                </div>
                <div class="input-field col s12 m6 l6">
                    {{ form.last_name }}
                    <label for="{{ form.last_name.label }}">{{ form.last_name.label }}</label>
                    {% if form.last_name.help_text %}
                      <span>
                        {{ form.last_name.help_text | safe }}
                      </span>
                    {% endif %}
                </div>
                <div class="input-field col s12 m12 l12">
                    {{ form.email }}
                    <label for="{{ form.email.label }}">{{ form.email.label }}</label>
                    {% if form.email.help_text %}
                      <span>
                        {{ form.email.help_text | safe }}
                      </span>
                    {% endif %}
                </div>
                <div class="input-field col s12 m6 l6">
                    {{ form.password1 }}
                    <label for="{{ form.password1.label }}">{{ form.password1.label }}</label>
                </div>
                <div class="col s12 m6 l6">
                    {% if form.password1.help_text %}
                      <span>
                        {{ form.password1.help_text | safe }}
                      </span>
                    {% endif %}
                </div>
                <div class="input-field col s12 m6 l6">
                    {{ form.password2 }}
                    <label for="{{ form.password2.label }}">{{ form.password2.label }}</label>
                    {% if form.password2.help_text %}
                      <span>
                        {{ form.password2.help_text | safe }}
                      </span>
                    {% endif %}
                </div>
                <div id="mdp_diff" style="display:none">
                </div>
            </div>

            <div class="modal-footer">
                <input type="submit" value="S'inscrire" class=" modal-action waves-effect blue-grey darken-4 btn">
            </div>
        </form>
    </div>
</div>

<div id="index-banner" class="parallax-container" style="height: 1000px; width: 100%;">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">
                <h1 class="header center text-wrap yellow-text bienvenue">Py Robot</h1>
            </div>

            <div class="row center">
                <a class="center waves-effect blue-grey darken-4 waves-light modal-trigger yellow-text btn-play" href="#modalConnexion">
                    Jouer
                </a>
            </div>

            <div class="section">
                <div class="row lighten-5 center" style="margin:0 auto;max-width: 600px">
                     <h5>
                        Sur notre site nous vous proposons de programmer, en langage Python,
                        le comportement d'un tank. Pour pimenter votre expérience, mesurez vous aux autres
                        utilisateurs de notre site et voyez le fruit de votre travail par le biais de
                        combats. Vos tanks seront placés dans une arène où se livrera un combat sans merci.
                    </h5>
                     <br><br>
                    <h5>
                        Le joueur qui aura programmé le meilleur tank gagnera la partie et
                        se verra octroyer des points de victoire le faisant monter au classement dans la ligue
                        choisie.<br><br>

                        La bataille est déjà lancée !!
                        <br><br>Que le meilleur programmeur gagne !!
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'backend/footer.html' %}

</body>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/alertify.js' %}"></script>
<script src="{% static 'js/fontawesome-all.js' %}"></script>

<script>
    {% if error %}
        var errors = {{ error | safe }} ;
        msg_err = "" ;
        console.log(Object.keys(errors).length);
        var e;
        for (e in errors) {
            for(s in errors[e]){
                console.log(errors[e][s].message);
                msg_err += errors[e][s].message ;
                msg_err += "<br/><br/>";
            }
        }
        document.onload = setTimeout(function () {
            alertify.alert(msg_err);
        }, 1000);
    {% endif %}

    //MODIF
    function closeModal() {
        $('#modalConnexion').modal();
    }

     // verification du formulaire d'inscription:
    function verifInscription(f){
      var mdp_diff = document.getElementById("mdp_diff");
      var regex = /[\!\^\$\(\)\[\]\{\}\?\+\*\/\\\|\&\#\"\'\<\>\=\£\%\$\¤\µ\§\:\;\~]/;
      var pseudo = document.getElementById("pseudo");
      var mdp1 = document.getElementById("mdp1");
      var mdp2 = document.getElementById("mdp2");

      if(( mdp1.value != mdp2.value )&&(mdp_diff.style.display === "none")){
        mdp_diff.innerHTML = "Vos mots de passe doivent être identiques.";
        mdp_diff.style.display = "block";
        return false;
      } else if( pseudo.value.match(regex) != null ){
        pseudo.style.color = 'red';
        document.getElementById("help_pseudo").style.color = 'red';
        return false;
      } else if (mdp1.value.length<8){
        mdp_diff.innerHTML = "Vos mots doivent être de 8 caractères minimum.";
        mdp_diff.style.display = "block";
        return false;
      }
      else {
          return true;
     }
   }

</script>
</html>
